.home-container{
    padding: 30px;
    margin-top: 20px;
}

.paginado-container{
    margin-top: 50px;
}


.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:0rem;

}
.cards-items{
    border-radius: 2rem;
    transition: var(--transition);

}
.cards-items:hover{
    transition-duration: 500ms;
    transform: scale(1.1)
}

.cards-items-image {
    border-radius: 1.5rem;
    overflow: hidden;
}
.cards-items h3 {
 margin: 1.2rem 0 2rem;
}
.link {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}


.filter-container{
    margin-top: 100px;
}
.filter{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-right: 30px;
    margin-left: 15px;

}

.filter p {
    margin-bottom: 5px;
    font-size: small;
}

.filter-item{
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 8px;
    padding-left: 20px;
    margin: 2px;

}

.filter select{
    background: rgba(255, 255, 255, 0.2);
    color: rgb(163, 162, 162);

}

.create-search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    float: left;
}

.refresh{
    background-color: transparent;
    color: var(--color-light);
    margin-right: 20px;
    cursor: pointer;
}

.refresh:hover{
  color: white;
}



.load {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 917px;
    top: -130px;
  }
  
  .load--full-height {
    align-items: center;
    height: 100%;
  }
  
  .load::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: var(--color-primary);
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 1s ease infinite;
    margin-top: 200px;
  }
  
  @keyframes load {

    from {
      transform: rotate(0turn);
    }
    
    to {
      transform: rotate(1turn);
    }
  }