#background_about {
    width: 100%;
    z-index:-1;
    position: fixed;
    left: 0%;
    opacity: 0.2
}



.about{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    padding: 50px;

}

.text_about {
    text-align: start;
    padding-bottom: 20px;
    font-size: large;
    font-weight: 100;
    margin-top: 25px;
}

.list {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 30px;
    cursor: default;
    width: 80%;
}

.list-items{
 padding: 20px 20px;
 border-radius: 20px;
 font-size: small;
 width: 30%;
}



.logo_about {
    width: 50%;
}


.lista {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 100px;
    cursor: default;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color:var(--color-light);
}

.lista-items{
 padding: 20px 20px;
 border-radius: 20px;
 font-size: x-small;
 background: rgba(0, 0, 0, 0.165);
 width: 15%;
}

.cont-back {
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
}


  /*********** MEDIA QUERIES (MEDIUM DEVICES ************/
  @media screen and (max-width: 1180px) {
    .about{
        width: 90%;
        margin-top: 200px;
    }
    .lista{
        width: 90%;
    }
  
  }
  
  /*********** MEDIA QUERIES (SMALL DEVICES ************/
  @media screen and (max-width: 740px) {
    
    .text_about {
        font-size: small;
    }
    .about{
        width: 90%;
        margin-top: 70px;
        padding: 35px;
    }
    .logo_about {
        width: 100%;
    }
    .icox {
        width: 15px;
    }
    .list-items{
        padding: 5px 5px;
        border-radius: 20px;
        font-size: x-small;
        width: 30%;
       }

    .lista {
        display: none;
    }
    .cont-back {
        position: absolute;
        margin-top: 10px;
        margin-left: 20px;
    }
    .list {
        margin-top: 2px;
    }
  
  }