#navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.157);
    display: flex;
    justify-content:flex-end;
    padding-right: 15px;  


}   
#nav-links{
background: transparent;
padding: 0.9rem;
padding-right: 50px;  
border-radius: 5%;
display: flex;
color:var(--color-light);
font-size: 15px;
text-decoration: none;
}

#nav-links:hover{
background:  rgba(0, 0, 0, 0.03);
color: var(--white);
}



.logo_n {
position: absolute;
left: 2rem;
top: 1.5rem;
}





.iso-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    padding-left: 30px;
}

.isologo {
    width: 40px;
}

.log2 {
    width: 12%;
}










/*********** MEDIA QUERIES (MEDIUM DEVICES ************/
@media screen and (max-width: 1024px) {
#navbar {
display:none;
}
}

/*********** MEDIA QUERIES (SMALL DEVICES ************/
@media screen and (max-width: 600px) {
#navbar {
    display:none;
   }
}